@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';


:root {
    /* Fonts */
    --heading-font: "Fraunces", serif;
    --text-font: "Inter", sans-serif;    


    /* Fondo principal de la página */
    --background: #ffffff;
    /* Color de texto principal */
    --foreground:#000000;
    --soft-foreground: oklch(40.219% 0.01894 302.011);

    /* Color principal de la marca o acciones destacadas */
    --primary:#464EA5;
    --primary-foreground:#ffffff;


    --selected:oklch(93.547% 0.0206 298.053);
    --hover:oklch(94.06% 0.00967 298.941 / 0.518);


    --secondary: #120F47;
    --secondary-foreground:#ffffff;
    

    /* Color para destacar elementos, estados o detalles */
    --soft-accent: #EAEAFF;
    --accent:#5956E9;	

    /* Fondos discretos o elementos atenuados */
    --muted: #AEBADC;
    --muted-foreground:#000000;


    /* Fondo de tarjetas */
    /* --card */
    /* --card-foreground */

    /* Bordes de componentes */
    /* --border */

    /* Bordes o fondo de campos de formulario */
    /* --input */

    /* Contorno de foco de inputs y botones */
    /* --ring */
        
    /* Acciones destructivas, como eliminar */
    /* --destructive */
    /* --destructive-foreground */


    /* Operaciones completadas correctamente */
    /* --success */

    /* Advertencias */
    /* --warning */

    /* Errores */
    /* --error */

    /* Información */
    /* --info */

    /* Enlaces */
    /* --link */

    /* Capa superpuesta sobre la página */
    /* --overlay */
}

body {
    font-family: var(--text-font);
}

html {
  scroll-behavior: smooth;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-soft-foreground: var(--soft-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-selected: var(--selected);
    --color-hover: var(--hover);

    --color-accent: var(--accent);
    --color-soft-accent: var(--soft-accent);



    --font-heading: var(--heading-font);
    --font-text: var(--text-font);
}

/* @custom-variant dark (&:is(.dark *)); */

/* @theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--bg-color);
    --color-font: var(--font-color);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar-background);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
} */

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/* @layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
} */
/*
:root {    

     --background: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 3.9%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(0, 0%, 3.9%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(0, 0%, 3.9%);
    --primary: hsl(0, 0%, 9%);
    --primary-foreground: hsl(0, 0%, 98%);
    --secondary: hsl(0, 0%, 96.1%);
    --secondary-foreground: hsl(0, 0%, 9%);
    --muted: hsl(0, 0%, 96.1%);
    --muted-foreground: hsl(0, 0%, 45.1%);
    --accent: hsl(0, 0%, 96.1%);
    --accent-foreground: hsl(0, 0%, 9%);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(0, 0%, 98%);
    --border: hsl(0, 0%, 92.8%);
    --input: hsl(0, 0%, 89.8%);
    --ring: hsl(0, 0%, 3.9%);
    --chart-1: hsl(12, 76%, 61%);
    --chart-2: hsl(173, 58%, 39%);
    --chart-3: hsl(197, 37%, 24%);
    --chart-4: hsl(43, 74%, 66%);
    --chart-5: hsl(27, 87%, 67%);
    --radius: 0.5rem;
    --sidebar-background: hsl(0, 0%, 98%);
    --sidebar-foreground: hsl(240, 5.3%, 30%);
    --sidebar-primary: hsl(0, 0%, 10%);
    --sidebar-primary-foreground: hsl(0, 0%, 98%);
    --sidebar-accent: hsl(0, 0%, 94%);
    --sidebar-accent-foreground: hsl(0, 0%, 30%);
    --sidebar-border: hsl(0, 0%, 91%);
    --sidebar-ring: hsl(217.2, 91.2%, 59.8%); 
}*/

/* .dark {
    --background: hsl(0, 0%, 3.9%);
    --foreground: hsl(0, 0%, 98%);
    --card: hsl(0, 0%, 3.9%);
    --card-foreground: hsl(0, 0%, 98%);
    --popover: hsl(0, 0%, 3.9%);
    --popover-foreground: hsl(0, 0%, 98%);
    --primary: hsl(0, 0%, 98%);
    --primary-foreground: hsl(0, 0%, 9%);
    --secondary: hsl(0, 0%, 14.9%);
    --secondary-foreground: hsl(0, 0%, 98%);
    --muted: hsl(0, 0%, 6.9%);
    --muted-foreground: hsl(0, 0%, 63.9%);
    --accent: hsl(0, 0%, 14.9%);
    --accent-foreground: hsl(0, 0%, 98%);
    --destructive: hsl(0, 84%, 60%);
    --destructive-foreground: hsl(0, 0%, 98%);
    --border: hsl(0, 0%, 14.9%);
    --input: hsl(0, 0%, 14.9%);
    --ring: hsl(0, 0%, 83.1%);
    --chart-1: hsl(220, 70%, 50%);
    --chart-2: hsl(160, 60%, 45%);
    --chart-3: hsl(30, 80%, 55%);
    --chart-4: hsl(280, 65%, 60%);
    --chart-5: hsl(340, 75%, 55%);
    --sidebar-background: hsl(0, 0%, 7%);
    --sidebar-foreground: hsl(0, 0%, 80%);
    --sidebar-primary: hsl(360, 100%, 100%);
    --sidebar-primary-foreground: hsl(0, 0%, 100%);
    --sidebar-accent: hsl(0, 0%, 15.9%);
    --sidebar-accent-foreground: hsl(240, 4.8%, 95.9%);
    --sidebar-border: hsl(0, 0%, 15.9%);
    --sidebar-ring: hsl(217.2, 91.2%, 59.8%);
} */



/* @layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
} */
